<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Komodo Wallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh</string>
		<string>English</string>
		<string>fr</string>
		<string>de</string>
		<string>ru</string>
		<string>ja</string>
		<string>tr</string>
		<string>hu</string>
		<string>es</string>
		<string>ko</string>
		<string>uk</string>
	</array>
	<key>CFBundleName</key>
	<string>komodo_dex</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.komodoplatform.atomicdex.kmd</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bitcoin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.komodoplatform.atomicdex.kmd</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ethereum</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Access to the music library is required in order for users to customize the sounds played by the app.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera permission is required for barcode scanning.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is required for authentication.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location services are not required by this application, please contact the app provider if you see this message.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location services are not required by this application, please contact the app provider if you see this message.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Library general access is required for backup functionality.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
