name: Build atomicDEX
on:
  pull_request:
    types: [ opened, synchronize, reopened ]
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 1'

jobs:
  build-android:
    name: Build Android APK
    runs-on: ubuntu-latest
    steps:
      # Common setup
      # TODO: Remove workaround at some future point
      - name: Workaround git protocol error
        run: echo -e '[url "https://github.com/"]\n  insteadOf = "git://github.com/"' >> ~/.gitconfig
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
      - name: Set up Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.8.1'
          architecture: x64
          cache: true
      - name: Get dependencies
        run: flutter pub get --suppress-analytics
      # extra Gradle caching
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      # mm2 lib download
      - run: mkdir -p android/app/src/main/cpp/libs/{armeabi-v7a,arm64-v8a}
      - run: curl -L "https://github.com/KomodoPlatform/atomicDEX-API/releases/download/v1.0.1-beta/mm2-6bb79b3d8-android-armv7-CI.zip" --output "mm2_armv7.zip"
      - run: curl -L "https://github.com/KomodoPlatform/atomicDEX-API/releases/download/v1.0.1-beta/mm2-6bb79b3d8-android-aarch64-CI.zip" --output "mm2_aarch64.zip"
      - run: unzip mm2_armv7.zip -d android/app/src/main/cpp/libs/armeabi-v7a/
      - run: unzip mm2_aarch64.zip -d android/app/src/main/cpp/libs/arm64-v8a/
      # APK build
      - name: Build release APK
        run: flutter build apk --release --obfuscate --split-debug-info=build/debug-info/
      - name: Save generated APK
        uses: actions/upload-artifact@v3
        with:
          name: android-apk
          path: build/app/outputs/flutter-apk/app-release.apk
      - name: Save debug info
        uses: actions/upload-artifact@v3
        with:
          name: android-debug-info
          path: build/debug-info/
